//margin 0
.#{$prefix-name}mg-0 {
  margin: 0;
}
.#{$prefix-name}pd-0 {
  padding: 0;
}

//rem padding
@for $i from 1 through 50 {
  .#{$prefix-name}pd-#{$i}rp {
    padding: rem($i);
  }
  .#{$prefix-name}pd-l-#{$i}rp {
    padding-left: rem($i);
  }
  .#{$prefix-name}pd-r-#{$i}rp {
    padding-right: rem($i);
  }
  .#{$prefix-name}pd-t-#{$i}rp {
    padding-top: rem($i);
  }
  .#{$prefix-name}pd-b-#{$i}rp {
    padding-bottom: rem($i);
  }
  .#{$prefix-name}pd-tb-#{$i}rp {
    padding-top: rem($i);
    padding-bottom: rem($i);
  }
  .#{$prefix-name}pd-lr-#{$i}rp {
    padding-left: rem($i);
    padding-right: rem($i);
  }
}

//rem margin
@for $i from 1 through 50 {
  .#{$prefix-name}mg-#{$i}rp {
    margin: rem($i);
  }
  .#{$prefix-name}mg-l-#{$i}rp {
    margin-left: rem($i);
  }
  .#{$prefix-name}mg-r-#{$i}rp {
    margin-right: rem($i);
  }
  .#{$prefix-name}mg-t-#{$i}rp {
    margin-top: rem($i);
  }
  .#{$prefix-name}mg-b-#{$i}rp {
    margin-bottom: rem($i);
  }
  .#{$prefix-name}mg-tb-#{$i}rp {
    margin-top: rem($i);
    margin-bottom: rem($i);
  }
  .#{$prefix-name}mg-lr-#{$i}rp {
    margin-left: rem($i);
    margin-right: rem($i);
  }
}

