//计算rem的基准字体
$rem-base-font-size:100px;

//UI设计图的分辨率宽度
$UI-width:375px;

@for $device-width from 1px through 2000px {
  @media (min-width:$device-width){
    html{
      font-size: $device-width * $rem-base-font-size / $UI-width ;
    }
  }
}
